# Production environment

TITLE=app-template

BASE_URL=http://localhost:3000

# Language for database seeding in migration procedures
# Supported values: en, uk
LANGUAGE=uk

DEMO_AVAILABLE=true
DEMO_LOGIN=demo@mail.com
DEMO_PASSWORD=demo

# To generate JWT secret key:
# openssl rand -base64 60
JWT_ACCESS_SECRET=fqnadR7fncwHEUSYedu8eiqIPt9ostkdgRb690K4C7DBwPFZsEc6xJ6P7tSovWrvfzznokBhfZ7GB82T
JWT_ACCESS_EXPIRATION=1d
JWT_REFRESH_SECRET=ckmlKS4mwf4YT2XCJaNlfBusjeZRYVH9Svdu9ADJnTVhHm5CHEAZD7cc1+Dvjuafo34EQ0Fjfy4pEWgd
JWT_REFRESH_EXPIRATION=7d

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://admin:system@localhost:5533/db?schema=public"
